<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="/css/index.css" />
    <script defer src="/js/index.js"></script>
    <title>edu-homepage</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/image/jumbotron/img1.jpg"
              class="d-block w-100 jumbotron-image"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5 class="mb-5 pb-5 display-3">Homepage jumbotron</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/images/image/jumbotron/img2.jpg"
              class="d-block w-100 jumbotron-image"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5 class="mb-5 pb-5 display-3">Homepage jumbotron</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/images/image/jumbotron/img3.jpg"
              class="d-block w-100 jumbotron-image"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5 class="mb-5 pb-5 display-3">Homepage jumbotron</h5>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-1.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-2.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-3.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-4.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-5.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
<%- include('../includes/footer.ejs')  %> 
 
