<%- include('../includes/head.ejs')  %> 
    <link rel="stylesheet" href="/css/index.css" />
    <script defer src="/js/index.js"></script>
    <title>edu-homepage</title>
  </head>
  <body>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-1.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-2.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-3.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-4.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
    <section class="wrapper__content hidden">
      <div class="content__img">
        <img class="img text-center" src="/images/image/img-5.jpg" alt="" />
      </div>
      <div class="content__text">
        <h2 class="text-center text-capitalize">Some heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores eos
          repellendus est accusamus consequatur quas error, facere, veritatis
          odio eum, nisi similique beatae explicabo cumque sed unde vero?
          Doloremque, et. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Corporis ipsa, excepturi eum delectus tempore molestias ducimus
          obcaecati modi possimus nam animi aspernatur voluptates, sapiente quos
          numquam, architecto adipisci maxime minima?
        </p>
      </div>
    </section>
<%- include('../includes/footer.ejs')  %> 
 
